<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<!--header - start-->
<div th:replace="~{employee/header :: header}"></div>
<!--header - end-->

<body>

<!--navbar - start-->
<div th:replace="~{employee/header :: navbar}"></div>
<!--navbar - end-->

<br /><br />

<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center"> Create Order </h2>
            </div>
            <div class="card-body">
                <form role="form" method="post" th:action="@{/employee/items/{itemId}/order(itemId=${item.id})}" th:object="${request}">

                    <div class="mb-3">
                        <label class="form-label fw-bold"> Employee name </label>
                        <input
                                type="text"
                                class="form-control"
                                id="employeeName"
                                placeholder="Enter quantity"
                                name="employeeName"
                                th:field="*{employeeName}"
                        />
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-bold"> Item Name </label>
                        <p th:text="${item.name}">Chair</p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-bold"> Unit of measurement </label>
                        <p th:text="${item.unit.name}">pcs</p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-bold"> Quantity </label>
                        <input
                                type="text"
                                class="form-control"
                                id="quantity"
                                placeholder="Enter quantity"
                                name="quantity"
                                th:field="*{quantity}"
                        />
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-bold"> Price without VAT (UAH) </label>
                        <p th:text="${item.price}">1000</p>
                    </div>



                    <button type="submit" class="btn btn-primary"> Submit </button>
                    <a th:href="@{/employee/requests}" class="btn btn-danger">Cancel</a>
                </form>

            </div>
        </div>
    </div>

</div>
<br /><br /><br /><br /><br /><br />
<!--footer - start-->
<div th:replace="~{employee/footer :: footer}"></div>
<!--footer - end-->

</body>
</html>